# Configuration files
*.ini

# Autosave files
*.autosave
*.asv
*.m~

# Figures and Photos
*.png
*.PNG
*.fig
*.jpg
*.JPEG
*.pdf

# Subfolders 
/BingoCards
/CallOrders
/Free Space
/TileBios
/Tiles
/Ways2Win
/Players
*.asv
